<div class="footer-basic">
    <footer>
        <div class="social">
            <a target="_blank" href="http://rudrad.in/" target="_blank">
                <i class="icon ion-briefcase"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/rudradesai/" target="_blank">
                <i class="icon ion-social-linkedin"></i>
            </a>
            <a target="_blank" href="mailto:rudrad200@gmail.com" target="_blank">
                <i class="icon ion-email"></i>
            </a>
        </div>
        <ul
            class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <!-- <li class="list-inline-item"><a href="http://www.rudrad.in/">About</a></li> -->
            <li class="list-inline-item"><a target="_blank" href="http://rudrad.in/#contact-section">Contact Me!</a></li>
            </ul>
    </footer>
</div>